<!DOCTYPE html>
<html>
<head>
<title>Panel Pi</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="shortcut icon" href="/content/favicon.ico"/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
		  <li><a href="/wioluska">Czyżby wioluśka?</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <h3 class="text-muted">Panel Pi</h3>
      </div>
@Body@
</div>

</body>
</html>